# Python
__pycache__
*.pyc

# Visual Studio Code
.vscode

# Jupyter notebook
.ipynb_checkpoints
*.ipynb

# Unfineshed code
examples

# Setuptools distribution folder.
dist/
build/
src/deep_expressions.egg-info